<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whynoteasy.topxlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainActivities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listActivities.XListCreateActivity"
            android:label="@string/title_activity_xlist_edit"
            android:parentActivityName=".mainActivities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listActivities.XListEditActivity"
            android:label="@string/title_activity_xlist_edit"
            android:parentActivityName=".mainActivities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.mainActivities.MainActivity" />
        </activity>
        <activity
            android:name=".elemActivities.XElemCreateActivity"
            android:label="@string/title_activity_xelem_create"
            android:parentActivityName=".listActivities.XListViewCollapsingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
        <activity
            android:name=".elemActivities.XElemEditActivity"
            android:label="@string/title_activity_xelem_edit"
            android:parentActivityName=".listActivities.XListViewCollapsingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
        <activity
            android:name=".elemActivities.XElemViewActivity"
            android:label="@string/title_activity_xelem_view"
            android:parentActivityName=".listActivities.XListViewCollapsingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
        <activity
            android:name=".listActivities.XListViewCollapsingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".mainActivities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.mainActivities.MainActivity" />
        </activity>
        <activity
            android:name=".elemActivities.XListViewLongDescriptionActivity"
            android:label="@string/title_activity_xlist_view_long_description"
            android:parentActivityName=".listActivities.XListViewCollapsingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
    </application>

</manifest>