<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whynoteasy.topxlist">

    <application
        android:name="com.whynoteasy.topxlist.TopXListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.whynoteasy.topxlist.mainActivities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--This is for the searchbox-->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_main_activity" />
            <!--This means that this activity is going to handle the search-->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.whynoteasy.topxlist.listActivities.XListCreateActivity"
            android:label="@string/title_activity_xlist_create"
            android:parentActivityName="com.whynoteasy.topxlist.mainActivities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.whynoteasy.topxlist.listActivities.XListEditActivity"
            android:label="@string/title_activity_xlist_edit"
            android:parentActivityName="com.whynoteasy.topxlist.mainActivities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.mainActivities.MainActivity" />
        </activity>
        <activity
            android:name="com.whynoteasy.topxlist.elemActivities.XElemCreateActivity"
            android:label="@string/title_activity_xelem_create"
            android:parentActivityName="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
        <activity
            android:name="com.whynoteasy.topxlist.elemActivities.XElemEditActivity"
            android:label="@string/title_activity_xelem_edit"
            android:parentActivityName="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
        <activity
            android:name="com.whynoteasy.topxlist.elemActivities.XElemViewActivity"
            android:label="@string/title_activity_xelem_view"
            android:parentActivityName="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
        <activity
            android:name="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName="com.whynoteasy.topxlist.mainActivities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.mainActivities.MainActivity" />
        </activity>
        <activity
            android:name="com.whynoteasy.topxlist.elemActivities.XListViewLongDescriptionActivity"
            android:label="@string/title_activity_xlist_view_long_description"
            android:parentActivityName="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whynoteasy.topxlist.listActivities.XListViewCollapsingActivity" />
        </activity>
    </application>

</manifest>